/* Google Font for All Text */
html {
	font-family: "Rubik", Helvetica, sans-serif;
	height: 100%;
}

/* Body */
body {
	font-family: "Rubik", Helvetica, sans-serif;
	height: 100%;
	scroll-snap-type: y proximity;
}

/* External Content with NavBar */
iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	padding-top: 56px;  
}
.external-content {
	height: 100%;
	width: 100%;
	background:url(http://www.joewlos.com/loading.gif) center center no-repeat;
}

/* Index Content Scrolls */
.index-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.interior {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75%;
	scroll-snap-align: center;
}
.spread-row {
	padding-top: 2em;
	width: 75%;
}
.vertical-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.index-img {
	width: 10em;
	height: 10em;
	border-radius: 15%;
	border: 3px solid rgba(0,0,0,.5);
	object-fit: cover;
	margin: 1em;
}
.btn-line {
	line-height: 3em;
}

/* Index on Mobile */
@media (max-width: 768px) {
	.push-fa-up-joe {
		visibility: hidden;
	}
	.index-content {
		height: auto;
	}
	.spread-column {
		padding-bottom: 1em;
	}
}

/* Internal Page */
.internal-tab {
	padding-top: 70px;
	height: 100%;
}
.internal-content {
	padding-top: 56px;
}
.full-page-div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 30%;
}
.full-page-row {
	width: 75%;
	padding-top: 5%;
	padding-bottom: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.full-page-img {
	height: 10em;
	width: auto;
}
.full-page-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.full-page-text {
	width: 85%;
}
.pad-title {
	padding-bottom: 1em;
}

/* Hide */
.hidden {
	visibility: hidden;
}

/* Style the FontAwesome Icons */
.nav-fa-joe {
	color: white;
}
.nav-fa-joe:hover {
	color: #999999;
}
.nav-link-joe {
	color: white !important;
}
.nav-link-joe:hover {
	color: #999999 !important;
}
.push-fa-down-joe {
	padding-top: 1em;
	color: rgba(0,0,0,0.3);
}
.push-fa-down-joe:hover {
	color: black;
}
.push-fa-up-joe {
	padding-bottom: 1em;
	color: rgba(0,0,0,0.5);
}
.push-fa-up-joe:hover {
	color: black;
}
.link-fa-joe {
	color: black !important;
}
.link-fa-joe:hover {
	color: rgba(0,0,0,0.5) !important;
	text-decoration: none !important;
}

/* Center title */
.center-title {
	text-align: center;
}
.pad-title {
	padding-top: 2em;
}

/* PredictIt */
.green {
	color: green;
}
.red {
	color: red;
}
.extra-margin {
	margin-bottom: 1rem;
}
.updated {
	margin-top: 1rem;
	font-size: 0.75rem;
}
@media (max-width: 768px) {
	.push-performance {
		margin-top: 1rem;
	}
}
path {
  stroke-width: 2;
  fill: none;
}
.axis path, .axis line {
  fill: none;
  stroke: gray;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
#lineDiv {
	font-size: 0.8rem;
}
#barDiv {
	font-size: 0.8rem;
}
.table-borderless td,
.table-borderless thead th {
	border: 0;
	border-bottom: 0;
}
.toolTip {
  position: absolute;
  display: none;
  min-width: 40px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 2px solid #089fba;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-size: 0.75rem;
}
.predictit-header {
	margin-top: 1.5rem;
}
.predictit-item {
	width: 8rem;
	height: 8rem;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	margin: 7.5px;
}
.predictit-yes {
	background-color: #089fba;
	color: white;
	border-style: solid;
    border-width: 2.5px;
    border-color: #089fba;
}
.predictit-yes:hover {
	color: #089fba;
    background-color: white;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
.predictit-no {
	background-color: #253b40;
	color: white;
	border-style: solid;
    border-width: 2.5px;
    border-color: #253b40;
}
.predictit-no:hover {
	color: #253b40;
    background-color: white;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
.hover-text {
	display: none;
	font-size: 0.5rem;
}
.predictit-item:hover div {
	display: block;
}
.top-padding {
	margin-top: 0.5rem;
}
.predictit-link {
	color: #089fba;
}
.predictit-link:hover {
	color: #089fba;
}
.predictit-table-border {
	color: white;
	background-color: #089fba;
}
.month-table {
	font-size: 0.8rem;
}
.perf-content {
	color: white;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}
.perf-row {
	min-height: 8rem;
	margin: 0.5rem;
	background-color: #253b40;
}
.perf-num {
	margin-left: 0rem;
	margin-right: 0rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.perf-no-pad {
	margin: 0rem;
}
@media (max-width: 768px) {
	.yes-no-row {
		justify-content: center;
	}
}