<p><a href="https://predictit.com/" target="_blank">PredictIt</a> is an online prediction market, which allows users to buy "yes" or "no" contracts on the outcome of political events. Before the event occurs, owned contracts can be sold at a profit or a loss. After the event occurs, the prediction market resolves, and each winning contract receives $1.00.</p>
<p>In February 2019, I created an account and decided to track the performance of my initial $50.00 deposit. While my own political opinions often align with my bets, I have tried to focus on buying undervalued contracts. Therefore, the data displayed here are not necessarily a reflection of my personal opinions.</p>
<p>This page uses PredictIt's <a href="https://www.predictit.org/account/history" target="_blank">account history export</a> to find my recent trades, <a href="https://pandas.pydata.org/" target="_blank">Pandas</a> to manipulate the data, and <a href="https://d3js.org/" target="_blank">D3.js</a> to display my results.</p>
<hr>
<!-- Row for the overall performance -->
<div class="row align-items-center text-center">
	<div class="col-md-2">
		<h5>Contracts<br>Owned</h5>
		<div>
			<h3><b>${{ "%.2f"|format(predictit.invested) }}</b></h3>
		</div>
	</div>
	<div class="col-md-1">
		<h4><i class="fas fa-plus"></i></h3>
	</div>
	<div class="col-md-2">
		<h5>Cash<br>Available</h5>
		<div>
			<h3><b>${{ "%.2f"|format(predictit.cash) }}</b></h3>
		</div>
	</div>
	<div class="col-md-1">
		<h5><i class="fas fa-equals"></i></h5>
	</div>
	<div class="col-md-2">
		<h5>Total<br>Portfolio</h5>
		<div>
			<h3><b>${{ "%.2f"|format(predictit.total) }}</b></h3>
		</div>
	</div>
	<div class="col-md-4 push-performance">
		<h5>Change in<br>Portfolio Value</h5>
		<div class="{% if predictit.perf >= 0 %}green{% else %}red{% endif %}">
			<h3><b>${{ "%.2f"|format(predictit.perf) }}</b></h3>
		</div>
	</div>
</div>
<div class="text-center updated">
	<p><i>Last Account History Update: {{ predictit.mod }}</i></p>
</div>
<hr>
<!-- Row for the line graph -->
<div class="row">
	<div class="col-md-12">
		<div class="text-center">
			<h5>Portfolio Value since February 2019</h5>
		</div>
		<div id="lineDiv"></div>
	</div>
</div>
<hr>
<!-- Rows for the current portfolio -->
<div class="text-center">
	<h5>Current Portfolio</h5>
	<!-- Extra divs for interation -->
	<div><div>
<!-- Iterate using the namespace to check for new ros -->
{% set ns = namespace(marketID=1) %}
{% for record in predictit.contract_records %}
	{% if record['MarketID'] != ns.marketID %}
		<!-- End the previous div -->
		</div></div></div>
		<div class="row predictit-header">
			<div class="col-md-12">
				<h5><i>{{ record['MarketName'] }}</i></h5>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-md-2">
				<div class="text-left">
					<h6>Total Investment:<br>${{ "%.2f"|format(record['Risk']) }}</h6>
					<h6><a class="predictit-link" href="https://www.predictit.org/markets/detail/{{ record['MarketID'] }}" target="_blank">View Market</a></h6>
				</div>
			</div>
			<div class="col-md-10">
				<div class="d-flex flex-row flex-wrap yes-no-row">					
					<div class="predictit-item text-center {% if record['ContractType'] == 'Yes' %}predictit-yes{% else %}predictit-no{% endif %}">
						<div class="hover-text"><i>My Last Trade:</i><br>{{ record['DateExecuted'][:10] }}</div>
						<h6 class="top-padding">{{ record['ContractName'] }}</h6>
						<h6>{{ record['CurrentShares'] }} {{ record['ContractType'] }} Shares</h6>
						<div class="hover-text"><i>Total Traded:</i><br>${{ "%.2f"|format(record['AmtTraded']) }} | {{ record['Shares'] }} Shares</div>
					</div>
		{% set ns.marketID = record['MarketID'] %}
	<!-- If the market is in the same id, just add a box -->
	{% else %}
					<div class="predictit-item text-center {% if record['ContractType'] == 'Yes' %}predictit-yes{% else %}predictit-no{% endif %}">
						<div class="hover-text"><i>My Last Trade:</i><br>{{ record['DateExecuted'][:10] }}</div>
						<h6 class="top-padding">{{ record['ContractName'] }}</h6>
						<h6>{{ record['CurrentShares'] }} {{ record['ContractType'] }} Shares</h6>
						<div class="hover-text"><i>Total Traded:</i><br>${{ "%.2f"|format(record['AmtTraded']) }} | {{ record['Shares'] }} Shares</div>
					</div>
	{% endif %}
{% endfor %}
<!-- End the iteration divs -->
</div></div></div>
<hr>
<!-- Row for performance and volume -->
<div class="row">
	<div class='col-md-6'>
		<h5 class="text-center extra-margin">Monthly and Total Return<br>by Month</h5>
		<table class="table table-hover table-sm table-borderless month-table">
			<thead class="predictit-table-border">
				<tr>
					<th><i>Month</i></th>
					<th class="text-center"><i>EoM Value</i></th>
					<th class="text-center"><i>Monthly Return</i></th>
					<th class="text-center"><i>Total Return</i></th>
				</tr>
			</thead>
			<tbody>
				{% for row in predictit.month_records %}
				<tr>
					<td class="text-nowrap predictit-table-border"><b><i>{{ row['Month'] }}</i><b></td>
					<td class="text-center">${{ "%.2f"|format(row['Total']) }}</td>
					<td class="text-center {% if row['MonthReturn'] >= 0 %}green{% else %}red{% endif %}">{{ "%.1f"|format(row['MonthReturn'] * 100) }}%</td>
					<td class="text-center {% if row['InceptReturn'] >= 0 %}green{% else %}red{% endif %}">{{ "%.1f"|format(row['InceptReturn'] * 100) }}%</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<div>
			<h5 class="text-center extra-margin">Value of Contracts Traded (Volume)<br>and Return by Month</h5>
		</div>
		<div id="barDiv"></div>
	</div>
</div>
<hr>
<!-- Best and worst market performances -->
<div class="row">
	<div class="col-md-6">
		<h5 class="text-center extra-margin">Best Market Performances by Value!</h5>
		{% for record in predictit.best_records %}
			<div class="row align-items-center text-center perf-row">
				<div class="col-md-4 text-center perf-num">
					<div class="stretcher">
						<h3 class="green"><i class="fas fa-arrow-up"></i> ${{ "%.2f"|format(record['CreditDebit']) }}</h3>
					</div>
				</div>
				<div class="col-md-8 perf-content">
					<div class="stretcher">
						<h6><b><a class="predictit-link" href="https://www.predictit.org/markets/detail/{{ record['MarketID'] }}" target="_blank">{{ record['MarketName'] }}</a></b></h6>
						<div class="row">
							<div class="col-md-6">
								<p class="perf-no-pad"><i>Final Trade:</i><br>{{ record['DateExecuted'][:10] }}</p>
							</div>
							<div class="col-md-6">
								<p class="perf-no-pad"><i>Trades:</i><br>{{ record['Shares'] }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="col-md-6">
		<h5 class="text-center extra-margin">Worst Market Performances by Value...</h5>
		{% for record in predictit.worst_records %}
			<div class="row align-items-center text-center perf-row">
				<div class="col-md-4 text-center perf-num">
					<div class="stretcher">
						<h3 class="red"><i class="fas fa-arrow-down "></i> ${{ "%.2f"|format(record['CreditDebit']) }}</h3>
					</div>
				</div>
				<div class="col-md-8 perf-content">
					<div class="stretcher">
						<h6><b><a class="predictit-link" href="https://www.predictit.org/markets/detail/{{ record['MarketID'] }}" target="_blank">{{ record['MarketName'] }}</a></b></h6>
						<div class="row">
							<div class="col-md-6">
								<p class="perf-no-pad"><i>Final Trade:</i><br>{{ record['DateExecuted'][:10] }}</p>
							</div>
							<div class="col-md-6">
								<p class="perf-no-pad"><i>Trades:</i><br>{{ record['Shares'] }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<!-- D3 for visualizations -->
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/predictit.js') }}"></script>
<script>
	// Get the data
	var lineFlask = {{ predictit.line_data | safe }};
	var barFlask = {{ predictit.month_data | safe }};

	// Draw the graphs
	lineGraph(lineFlask);
	barGraph(barFlask);

	// Redraw the bar graph based on the size of the window
	d3.select(window).on('resize', function () { 
		var resizeBarFlask = {{ predictit.month_data | safe }};
		barGraph(resizeBarFlask); 
	});
</script>